<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Julio L. Muller" />
    <meta name="description" content="Freecell Solitaire Card Game for browsers" />
    <meta name="keywords" content="javascript, freecell javascript, playing cards, solitaire game, web app, web game" />
    <!-- Page Title -->
    <title>
      FreeNeves JS - A Freecell Solitaire Card Game
    </title>
    <!-- Style Sheets -->
    <link rel="icon" href="./img/favicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="./js/classes/Stack.js"></script>
    <script src="./js/classes/Card.js"></script>
    <script src="./js/classes/Deck.js"></script>
    <script src="./js/scripts.js"></script>
    <script src="./js/angular/application.js"></script>
    <script src="./js/angular/controller.js"></script>
    <script src="./js/angular/components/card.js"></script>
  </head>
  <body ng-app="myApplication" ng-controller="myController as ctrl">
    <div class="my-victory">
      <img class="my-victory-msg" src="./img/neves-won.jpg" alt="Neves Picture">
    </div>
    <div>

      <!-- Top cards deposites -->
      <div class="row">
        <div class="col-sm-1"></div>

        <!-- Free cells -->
        <div class="col-sm-4">
          <div class="col-xs-3" ng-repeat="stack in ctrl.freeCells">
            <div class="my-stack">
              <button type="button" class="btn btn-default" ng-click="ctrl.select(stack, $index, 'freecell')" ng-show="!ctrl.isSelected" ng-disabled="ctrl.isEmpty(stack, true)">SELECT</button>
              <button type="button" class="btn btn-primary" ng-click="ctrl.place($index, 'freecell')" ng-show="ctrl.isSelected" ng-disabled="!ctrl.isEmpty(stack, true)">PLACE</button>
              <card obj="ctrl.lastOf(stack)" is-cell="true"></card>
            </div>
          </div>
        </div>

        <!-- Center -->
        <div class="col-sm-2 my-logo"></div>

        <!-- Deposit cells -->
        <div class="col-sm-4">
          <div class="col-xs-3" ng-repeat="stack in ctrl.deposits">
            <div class="my-stack">
              <button type="button" class="btn btn-default" ng-click="ctrl.select(stack, $index, 'deposit')" ng-show="!ctrl.isSelected" ng-disabled="ctrl.isEmpty(stack, true)">SELECT</button>
              <button type="button" class="btn btn-primary" ng-click="ctrl.place($index, 'deposit')" ng-show="ctrl.isSelected" ng-disabled="!ctrl.isPlacable(stack, $index, true)">PLACE</button>
              <card obj="ctrl.lastOf(stack)" is-cell="true"></card>
            </div>
          </div>
        </div>
      </div>

      <!-- Cards stacks -->
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="my-stack col-xs-1" ng-repeat="stack in ctrl.stacks">
          <button type="button" class="btn btn-default" ng-click="ctrl.select(stack, $index)" ng-show="!ctrl.isSelected" ng-disabled="ctrl.isEmpty(stack)">SELECT</button>
          <button type="button" class="btn btn-primary" ng-click="ctrl.place($index)" ng-show="ctrl.isSelected" ng-disabled="!ctrl.isPlacable(stack, $index)">PLACE</button>
          <card ng-repeat="card in stack" obj="card"></card>
        </div>
        <div class="col-xs-2"></div>
      </div>
    </div>
  </body>
</html>
